<div class="header_selector_madre_copia" id="menuIHPPcopia">
                            <label for="btn_menu" class="header_selector_links1">
                                <p></p>
                                <p>Menú</p><span>
                                    <p>☰</p>
                                </span>
                            </label>
                            <a href="./../../" type="checkbox">
                            Inicio
                            </a></div>
                        
<div style="display: flex; justify-content: center;">
    
    <form class="usuariologgin" action="/admin/login" method="post">
    
    <div class="mb-3" style="width: 80%; align-self: center;">
        <label for="exampleFormControlInput1" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Pepito">
    </div>

    <div style="width: 80%; align-self: center;">
    <label for="inputPassword5" class="form-label" >Contraseña</label>
    <input type="password" id="password" class="form-control" aria-describedby="passwordHelpBlock"
        placeholder="*************" name="password" >
    </div>
    
    <div id="passwordHelpBlock" class="form-text" style="width: 80%; align-self: center;">
        {{#if error}}
    <p style="color: rgb(255, 23, 23);margin:0px">Usuario o contrasena incorrecta</p>
    {{/if}}
        <p style="margin:0px">Su contraseña debe tener entre 8 y 20 caracteres.</p>
        
    </div>
    
    <button class="btn btn-primary" type="submit" style="width: 80%; align-self: center;">Enviar</button>
    
</form>

</div>