{{!-- PAGINA 1 PAGINA 1 --}}{{!-- PAGINA 1 PAGINA 1 --}}{{!-- PAGINA 1 PAGINA 1 --}}{{!-- PAGINA 1 PAGINA 1 --}}

<div id="hamburguesa_pagina1">
    <div class="selection1">

        <h2 class="hamburguesa_titulo" id="hola">¿QUIENES SOMOS?</h2>


        <!-- PAGINA 1 QUIENES SOMOS? --> <!-- PAGINA 1 QUIENES SOMOS? --> <!-- PAGINA 1 QUIENES SOMOS? -->

        <div class="inicio_hamburguesa_master">
            <div class="inicio_hamburguesa_inicio">
                <img class="inicio_hamburguesa_inicio_fotos" src="/images/Hamburguesas inicio\hamburguesasinicio4.jpg"
                    alt="hamburguesas" title="hamburguesas">
                <div class="inicio_hamburguesa_inicio_titulos">
                    <h2 class="inicio_hamburguesa_h2">¿Por qué somos la mejor Hamburguesería?</h2>
                    <p class="inicio_hamburguesa_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quam pariatur doloremque quibusdam doloribus a hic expedita consectetur blanditiis?
                        Mollitia nisi nobis nostrum quaerat consequatur eos pariatur dicta voluptatem omnis totam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tenetur quidem adipisci
                        explicabo corrupti aspernatur a nihil nemo dolore nostrum voluptatum illum, aliquid
                        autem fugiat ipsa illo, aut repellat molestias? Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Molestiae quo vel, esse aperiam iste nesciunt aliquid fugiat pariatur
                        facilis repellendus iusto ratione modi fuga nihil ex eum hic, facere quas.
                    </p>
                </div>
            </div>
            <div class="inicio_hamburguesa_inicio1">
                <img class="inicio_hamburguesa_inicio_fotos" src="/images/Hamburguesas inicio/hamburguesasinicio3.jpg"
                    alt="hamburguesa_de_carne" title="hamburguesa_de_carne">
                <div class="inicio_hamburguesa_inicio_titulos2">
                    <h2 class="inicio_hamburguesa_h22">Utilizamos Las Mejores Carnes</h2>
                    <p class="inicio_hamburguesa_p2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quam pariatur doloremque quibusdam doloribus a hic expedita consectetur blanditiis?
                        Mollitia nisi nobis nostrum quaerat consequatur eos pariatur dicta voluptatem omnis totam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tenetur quidem adipisci
                        explicabo corrupti aspernatur a nihil nemo dolore nostrum voluptatum illum, aliquid
                        autem fugiat ipsa illo, aut repellat molestias? Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Molestiae quo vel, esse aperiam iste nesciunt aliquid fugiat pariatur
                        facilis repellendus iusto ratione modi fuga nihil ex eum hic, facere quas.
                    </p>
                </div>
            </div>
            <div class="inicio_hamburguesa_inicio">
                <img class="inicio_hamburguesa_inicio_fotos" src="/images/Hamburguesas inicio/hamburguesasinico2.jpg"
                    alt="Hombre_comiendo_hamburguesa" title="Hombre_comiendo_hamburguesa">
                <div class="inicio_hamburguesa_inicio_titulos">
                    <h2 class="inicio_hamburguesa_h2">Nuestros Envíos son los Más Veloces</h2>
                    <p class="inicio_hamburguesa_p">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quam pariatur doloremque quibusdam doloribus a hic expedita consectetur blanditiis?
                        Mollitia nisi nobis nostrum quaerat consequatur eos pariatur dicta voluptatem omnis totam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tenetur quidem adipisci
                        explicabo corrupti aspernatur a nihil nemo dolore nostrum voluptatum illum, aliquid
                        autem fugiat ipsa illo, aut repellat molestias? Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Molestiae quo vel, esse aperiam iste nesciunt aliquid fugiat pariatur
                        facilis repellendus iusto ratione modi fuga nihil ex eum hic, facere quas.
                    </p>
                </div>
            </div>
        </div>
        <div class="contactanos">
            <div>
                <h2 class="hamburguesa_titulo">TRABAJÁ CON NOSOTROS</h2>
            </div>

            {{!-- FORMULARIO FORMULARIO --}}{{!-- FORMULARIO FORMULARIO --}}{{!-- FORMULARIO FORMULARIO --}}

            <div class="formul_div">
                <form class="row g-3 formul" action="/" method="post">
                    <div class="col-md-6">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" required class="form-control" placeholder="Grick" name="nombre" id="nombre">
                    </div>
                    <div class="col-md-6">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" required class="form-control" placeholder="Viktr" name="apellido"
                            id="apellido">
                    </div>
                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" required class="form-control" name="email" id="email"
                            placeholder="pepito_honguito@kilesa.com">
                    </div>
                    <div class="col-12">
                        <label for="telefono" class="form-label">Telefono</label>
                        <input type="text" required class="form-control" name="telefono" id="telefono"
                            placeholder="260-4312715">
                    </div>
                    <div class="col-md-12">
                        <label for="mensaje" class="form-label">Cuentanos ¿Por que quieres trabajar con
                            nosotros?</label>
                        <textarea required class="form-control" name="mensaje" id="mensaje" rows="3"> </textarea>
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" required class="form-label">Ciudad</label>
                        <select name="ciudad" id="inputState" class="form-select">
                            <option selected>Elige...</option>
                            <option>San Rafael</option>
                            <option>Malargue</option>
                            <option>Alvear</option>
                            <option>San Carlos</option>
                        </select>
                    </div>
                    <div class="col-12">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary signin" onclick="btnEnviar()">Enviar</button>
                    </div>
                    {{message}}
                </form>

                <div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</selection>

<!-- FINAL PAGINA 1 --><!-- FINAL PAGINA 1 --><!-- FINAL PAGINA 1 --><!-- FINAL PAGINA 1 --><!-- FINAL PAGINA 1 -->

<!-- PAGINA 2 HAMBURGUESAS --><!-- PAGINA 2 HAMBURGUESAS --><!-- PAGINA 2 HAMBURGUESAS --><!-- PAGINA 2 HAMBURGUESAS -->
<div id="hamburguesa_pagina2">
    
    <div class="selection1">

        <H2 class="hamburguesa_titulo"> NUESTRAS HAMBURGUESAS</H2>
        
        
        <div class="hamburguesa_contenido_master">

            
            <div class="columna_hamburguesas">

                <div class="links" href="https://www.youtube.com/watch?v=35XFAkwmU4c" id="boton_abrir_modal">

                    <!-- MODAL --><!-- MODAL --><!-- MODAL --><!-- MODAL --><!-- MODAL -->

                    <button id="boton-abrir-modal" style="display: none;">
                        Hola</button>
                    <div class="modal_master">

                        <dialog class="modales" id="modal">
                            <div class="modal_caja">

                                <!-- CAJA1CAJA1CAJA1CAJA1CAJA1CAJA1CAJA1CAJA1 -->
                                <div class="modal_caja1">
                                    <input type="radio" class="boton_cerrar_modal" id="boton-cerrar-modal1"></input>
                                    <label class="X_modal" for="boton-cerrar-modal1">✖</label>

                                    <div class="modal_caja_de_foto"><img class="modal_foto"
                                            src="/images/Afrodita.png" /> </div>
                                </div>
                                

                                <!-- CAJA 2CAJA 2CAJA 2CAJA 2CAJA 2CAJA 2CAJA 2CAJA 2CAJA 2CAJA 2 -->
                                <div class="modal_caja2">
                                    <div class="modal_titulos">
                                        <h2>Bacon</h2>
                                    </div>
                                    <div class="modal_parrafos">
                                        <p>Hamburguesa con
                                            bacon, doble cheddar, doble medallon de 110g. </p>
                                    </div>
                                    <div class="modal_precio">
                                        <p class="modal_precio_texto">$8500</p>
                                        <p class="modal_precio_texto">Papas incluidas✅</p>
                                    </div>
                                    <div class="modal_agregados">
                                        <div class="modal_agregados_cajita">
                                            <p style="font-weight: 600;">Elige tu salsa</p>
                                            <br><select class="modal_selector">
                                                <option value="value0" selected>Sin salsa extra</option>
                                                <option value="value1">Salsa Thousand island (tributo a
                                                    Mcdonald's,
                                                    base de mayonesa, ketchup, mostaza) $700</option>
                                                <option value="value2" selected>BBQ (salsa base de tomate
                                                    levemente
                                                    ahumada) $700</option>
                                                <option value="value3">Salsa Thousand island (tributo a
                                                    Mcdonald's,
                                                    base de mayonesa, ketchup, mostaza) $700</option>
                                                <option value="value4">salsa picante leve (base de ketchup)
                                                    suave
                                                    $700</option>
                                                <option value="value5">salsa picante moderado (base de ketchup)
                                                    $700
                                                </option>
                                                <option value="value6">salsa picante fuerte (base habanero) $800
                                                </option>
                                            </select>
                                            <p style="margin-top: 1rem ;">Cantidad</p>
                                            <button id="boton-cerrar-modal">Cerrar eseses modal</button>
                                        </div>
                                    </div>
                                    <a></a>
                                </div>
                                <!-- CAJA 2CAJA 2CAJA 2CAJA 2CAJA 2CAJA 2CAJA 2CAJA 2CAJA 2CAJA 2 -->
                        </dialog>
                    </div>

    <!-- COMIENZO DE HAMBURGUESAS PAGINA 2 --><!-- COMIENZO DE HAMBURGUESAS PAGINA 2 --><!-- COMIENZO DE HAMBURGUESAS PAGINA 2 -->
                    <div class="contenedor_master_hamburguesas">
                        
<!-- DIVISION DE 3 HAMBURGUESASDIVISION DE 3 HAMBURGUESAS    --><!-- DIVISION DE 3 HAMBURGUESASDIVISION DE 3 HAMBURGUESAS    -->                        

                        <div class="hamburguesas_divicion_3">
<!-- ACA EMPIEZA LA BACON --><!-- ACA EMPIEZA LA BACON --><!-- ACA EMPIEZA LA BACON --><!-- ACA EMPIEZA LA BACON -->                            
                            <div class="lab3el1">
                            <label for="boton-abrir-modal">
                                <div class="hamburguesa_contenido_submaster">

                                    <div class="hamburguesa_contenido_imagen">
                                        <img class="hamburguesa_contenido_imagen1" src="/images/HaburguesaBacon11.jpg"
                                            alt="HamburguesaBacon" id="linkbacon" />
                                    </div>
                                    <div id="linkbacon" class="hamburguesas_contenido_hijo">
                                        <h2 id="linkbacon" class="hamburguesas_contenido_texto_titulo">
                                            Bacon</h2>
                                        <p id="linkbacon" class="hamburguesas_contenido_texto_parrafo1">
                                            Hamburguesa con
                                            bacon, doble cheddar, doble medallon de 110g.</p>
                                        <p class="hamburguesas_contenido_texto_parrafo2"> $ 8.500,00</p>
                                    </div>
                                    <div id="linkbacon2" class="hamburguesas_contenido_texto_papas">
                                        <p id="linkbacon2">Papas incluidas✅</p>
                                    </div>

                                </div>
                            </label>
                        </div>
                            

<!-- ACA EMPIEZA LA MATILDE --><!-- ACA EMPIEZA LA MATILDE --><!-- ACA EMPIEZA LA MATILDE -->
                            <div class="lab3el1">
                            <label for="boton-abrir-modal">
                                <div class="hamburguesa_contenido_submaster">

                                    <div class="hamburguesa_contenido_imagen">
                                        <img class="hamburguesa_contenido_imagen1" src="/images/Hamburguesa222.jpg"
                                            alt="HamburguesaBacon" id="linkbacon" />
                                    </div>
                                    <div id="linkbacon" class="hamburguesas_contenido_hijo">
                                        <h2 id="linkbacon" class="hamburguesas_contenido_texto_titulo">
                                            Matilde</h2>
                                        <p id="linkbacon" class="hamburguesas_contenido_texto_parrafo1">
                                            Hamburguesa con huevo, lechuga y tomate, doble cheddar,
                                            doble medallon de 110g</p>
                                        <p class="hamburguesas_contenido_texto_parrafo2"> $ 9.000,00</p>
                                    </div>
                                    <div id="linkbacon2" class="hamburguesas_contenido_texto_papas">
                                        <p id="linkbacon2">Papas incluidas✅</p>
                                    </div>

                                </div>
                            </label>
                        </div>
                            

<!-- ACA EMPIEZA LA CHEESS BURGER --><!-- ACA EMPIEZA LA CHEESS BURGER --><!-- ACA EMPIEZA LA CHEESS BURGER -->                            
                            <div class="lab3el1">
                            <label for="boton-abrir-modal" >
                                <div class="hamburguesa_contenido_submaster">

                                    <div class="hamburguesa_contenido_imagen">
                                        <img class="hamburguesa_contenido_imagen1" src="/images/Hamburguesa333.jpg"
                                            alt="HamburguesaBacon" id="linkbacon" />
                                    </div>
                                    <div id="linkbacon" class="hamburguesas_contenido_hijo">
                                        <h2 id="linkbacon" class="hamburguesas_contenido_texto_titulo">
                                            Chesse Burger</h2>
                                        <p id="linkbacon" class="hamburguesas_contenido_texto_parrafo1">
                                            Hamburguesa con Cuadruple Cheddar, Doble medallon de 110g
                                        </p>
                                        <p class="hamburguesas_contenido_texto_parrafo2"> $ 9.000,00</p>
                                    </div>
                                    <div id="linkbacon2" class="hamburguesas_contenido_texto_papas">
                                        <p id="linkbacon2">Papas incluidas✅</p>
                                    </div>

                                </div>
                            </label>
                            </div>
                        </div>


<!-- DIVISION DE 3 HAMBURGUESASDIVISION DE 3 HAMBURGUESASDIVISION DE 3 HAMBURGUESAS -->
                        <div class="hamburguesas_divicion_3">

<!-- ACA EMPIEZA LA AFRODITA --><!-- ACA EMPIEZA LA AFRODITA --><!-- ACA EMPIEZA LA AFRODITA -->                            
                            <div class="lab3el1">
                            <label for="boton-abrir-modal" >
                                <div class="hamburguesa_contenido_submaster">

                                    <div class="hamburguesa_contenido_imagen">
                                        <img class="hamburguesa_contenido_imagen1" src="/images/Hamburguesa444.jpg"
                                            alt="HamburguesaBacon" id="linkbacon" />
                                    </div>
                                    <div id="linkbacon" class="hamburguesas_contenido_hijo">
                                        <h2 id="linkbacon" class="hamburguesas_contenido_texto_titulo">
                                            Afroditra</h2>
                                        <p id="linkbacon" class="hamburguesas_contenido_texto_parrafo1">
                                            Hamburguesa con cebolla caramelizada, y salsa de mostaza,
                                            doble cheddar, doble medallon de 110g</p>
                                        <p class="hamburguesas_contenido_texto_parrafo2"> $ 9.000,00</p>
                                    </div>
                                    <div id="linkbacon2" class="hamburguesas_contenido_texto_papas">
                                        <p id="linkbacon2">Papas incluidas✅</p>
                                    </div>

                                </div>
                            </label>
                        </div>
                            
<!-- ACA EMPIEZA LA CHEESS SIMPLE --><!-- ACA EMPIEZA LA CHEESS SIMPLE --><!-- ACA EMPIEZA LA CHEESS SIMPLE -->                            
                            <div class="lab3el1">
                            <label for="boton-abrir-modal" >
                                <div class="hamburguesa_contenido_submaster">

                                    <div class="hamburguesa_contenido_imagen">
                                        <img class="hamburguesa_contenido_imagen1" src="/images/Hamburguesa555.jpg"
                                            alt="HamburguesaBacon" id="linkbacon" />
                                    </div>
                                    <div class="hamburguesas_contenido_hijo">
                                        <h2 class="hamburguesas_contenido_texto_titulo">
                                            Chesse Simple</h2>
                                        <p class="hamburguesas_contenido_texto_parrafo1">
                                            Hamburguesa con Triple Cheddar, Un Medallon de 110g </p>
                                        <p class="hamburguesas_contenido_texto_parrafo2"> $ 9.000,00</p>
                                    </div>
                                    <div class="hamburguesas_contenido_texto_papas">
                                        <p>Papas incluidas✅</p>
                                    </div>
                                </div>
                                </div>
                            
                        
                            

<!-- ACA EMPIEZA LA AMERICANA --><!-- ACA EMPIEZA LA AMERICANA --><!-- ACA EMPIEZA LA AMERICANA -->                            
                            <div class="lab3el1">
                            <label for="boton-abrir-modal">
                                <div class="hamburguesa_contenido_submaster">

                                    <div class="hamburguesa_contenido_imagen">
                                        <img class="hamburguesa_contenido_imagen1" src="/images/Hamburguesa666.jpg"
                                            alt="HamburguesaBacon" id="linkbacon" />
                                    </div>
                                    <div class="hamburguesas_contenido_hijo">
                                        <h2 class="hamburguesas_contenido_texto_titulo"> Americana</h2>
                                        <p class="hamburguesas_contenido_texto_parrafo1"> Hamburguesa
                                            con Lechuga, Tomate, Doble cheddar, Doble medallon de carne
                                            de 110g</p>
                                        <p class="hamburguesas_contenido_texto_parrafo2"> $ 9.000,00</p>
                                    </div>
                                    <div class="hamburguesas_contenido_texto_papas">
                                        <p>Papas incluidas✅</p>
                                    </div>
</div>
                            </label>
                            </div>
                        </div>
<!-- DIVISION POR 3 FINAL --><!-- DIVISION POR 3 FINAL --><!-- DIVISION POR 3 FINAL --><!-- DIVISION POR 3 FINAL -->

                    </div>
<!-- DIVISION TOTAL FINAL      --><!-- DIVISION TOTAL FINAL      --><!-- DIVISION TOTAL FINAL      -->

                </div>
            </div>
        </div>
    </div>
</div>





<!-- INICIO PAGINA 3 CHEDAR --><!-- INICIO PAGINA 3 CHEDAR --><!-- INICIO PAGINA 3 CHEDAR--><!-- INICIO PAGINA 3 --><!-- INICIO PAGINA 3 -->
<div id="hamburguesa_pagina3">
    <div class="selection1">
        <!-- COMIENZO DE FOTOS -->
        <H2 class="hamburguesa_titulo"> CHEDDAR.. NUESTRAS ESPECIALIDAD</H2>
        
        <div class="selection_row">

        
        <div class="hamburguesas_divicion_3_cheddar">

<!-- ACA EMPIEZA CHEDDAR --><!-- ACA EMPIEZA CHEDDAR--><!-- ACA EMPIEZA CHEDDAR -->                            
                            <div class="lab3el1_cheddar">
                            <label for="boton-abrir-modal-cheddar" >
                                <div class="hamburguesa_contenido_submaster_cheddar">

                                    <div class="hamburguesa_contenido_imagen_cheddar">
                                        <img class="hamburguesa_contenido_imagen1_cheddar" src="\images\Hamburguesas inicio\cheddar1.png"
                                            alt="HamburguesaBacon" id="linkbacon" />
                                    </div>
                                    <div id="linkbacon" class="hamburguesas_contenido_hijo_cheddar">
                                        <h2 id="linkbacon" class="hamburguesas_contenido_texto_titulo_cheddar">
                                            Cheddar para Novatos</h2>
                                        <p id="linkbacon" class="hamburguesas_contenido_texto_parrafo1_cheddar">
                                            Hamburguesa con bacon, doble cheddar, doble medallon de 60g.</p>
                                        <p class="hamburguesas_contenido_texto_parrafo2_cheddar"> $ 1.500,00</p>
                                    </div>
                                    <div id="linkbacon2" class="hamburguesas_contenido_texto_papas_cheddar">
                                        <p id="linkbacon2">Papas incluidas✅</p>
                                    </div>

                                </div>
                            </label>
                        </div>
                            
                          
                            <div class="lab3el1_cheddar">
                            <label for="boton-abrir-modal-cheddar2" >
                                <div class="hamburguesa_contenido_submaster_cheddar">

                                    <div class="hamburguesa_contenido_imagen_cheddar">
                                        <img class="hamburguesa_contenido_imagen1_cheddar" src="\images\Hamburguesas inicio\Cheddar21.png"
                                            alt="HamburguesaBacon" id="linkbacon" />
                                    </div>
                                    <div id="linkbacon" class="hamburguesas_contenido_hijo_cheddar">
                                        <h2 id="linkbacon" class="hamburguesas_contenido_texto_titulo_cheddar">
                                            Cheddar a gusto</h2>
                                        <p id="linkbacon" class="hamburguesas_contenido_texto_parrafo1_cheddar">
                                            Hamburguesa con bacon, doble cheddar, doble medallon de 90g.</p>
                                        <p class="hamburguesas_contenido_texto_parrafo2_cheddar"> $ 2.500,00</p>
                                    </div>
                                    <div id="linkbacon2" class="hamburguesas_contenido_texto_papas_cheddar">
                                        <p id="linkbacon2">Papas incluidas✅</p>
                                    </div>

                                </div>
                            </label>
                        </div>
                            
                        
                            


                            <div class="lab3el1_cheddar">
                            <label for="boton-abrir-modal-cheddar3" >
                                <div class="hamburguesa_contenido_submaster_cheddar">

                                    <div class="hamburguesa_contenido_imagen_cheddar">
                                        <img class="hamburguesa_contenido_imagen1_cheddar" src="\images\Hamburguesas inicio\Cheddar31.png"
                                            alt="HamburguesaBacon" id="linkbacon" />
                                    </div>
                                    <div id="linkbacon" class="hamburguesas_contenido_hijo_cheddar">
                                        <h2 id="linkbacon" class="hamburguesas_contenido_texto_titulo_cheddar">
                                            Pileta de Cheddar</h2>
                                        <p id="linkbacon" class="hamburguesas_contenido_texto_parrafo1_cheddar">
                                            Hamburguesa con bacon, doble cheddar, doble medallon de 120g.</p>
                                        <p class="hamburguesas_contenido_texto_parrafo2_cheddar"> $ 3.500,00</p>
                                    </div>
                                    <div id="linkbacon2" class="hamburguesas_contenido_texto_papas_cheddar">
                                        <p id="linkbacon2">Papas incluidas✅</p>
                                    </div>

                                </div>
                            </label>
                        </div>
                        </div>
            <!-- aca -->
            <div class="inicio_hamburguesa_h3">
                <h2 style="margin-top:8rem ;">¿Te vas a quedar con las ganas? <br> <br>
                    <p style="font-size: 100px; text-align: center; color: aliceblue;">⇩
                </h2>

                <br>
            </div>

        </div>
        <div class="Cheddar_video_madre">
            <div>

                <!-- <h2 class="Cheddar_video_madre_titulo"> Luis ¿Esta que explota, no?</h2> -->
            </div>
            <div>
                <!-- <iframe class="cheddar_video" width="560" height="315"
                                    src="https://www.youtube.com/embed/CCHg8WF3uo0?si=tdFmg7NRrF4I_ExM"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
            </div>
        </div>
    </div>


</div>
</div>
</div>
</div>

<!-- FINAL PAGINA 3 --><!-- FINAL PAGINA 3 --><!-- FINAL PAGINA 3 --><!-- FINAL PAGINA 3 --><!-- FINAL PAGINA 3 -->

<!-- PAGINA 4 --><!-- PAGINA 4 --><!-- PAGINA 4 --><!-- PAGINA 4 --><!-- PAGINA 4 --><!-- PAGINA 4 --><!-- PAGINA 4 -->

<div id="hamburguesa_pagina4">
    <div class="selection1_papas">

        <!-- CHEDDAR COMIENZO -->

        <h2 class="hamburguesa_titulo">LAS PAPAS MÁS CROCANTES </h2>
        <div class="hamburguesas_divicion_3_papas">
        <div class="lab3el1_papas">
            <label for="boton-abrir-modal-papas">
                <div class="hamburguesa_contenido_submaster_papas">
                    <div class="hamburguesa_contenido_imagen_papas">
                        <img class="hamburguesa_contenido_imagen1_papas" src="\images\Hamburguesas inicio\papas basicas1.png"
                            alt="HamburguesaBacon" />
                    </div>
                    <div class="hamburguesas_contenido_hijo_papas">
                        <h2 class="hamburguesas_contenido_texto_titulo_papas">
                            Pápas Básicas
                        </h2>
                        <p class="hamburguesas_contenido_texto_parrafo1_papas">
                            Lo crocante va a dejarte con ganas de más (150g).
                        </p>
                        <p class="hamburguesas_contenido_texto_parrafo2_papas">$ 1.900,00</p>
                    </div>
                    <div class="hamburguesas_contenido_texto_papas_papas">
                        <p style="margin-bottom: 0px;"><br><br>¿Te faltaron, no?</p>
                    </div>
                </div>
            </label>
        </div>

        <div class="lab3el1_papas">
            <label for="boton-abrir-modal-papas">
                <div class="hamburguesa_contenido_submaster_papas">
                    <div class="hamburguesa_contenido_imagen_papas">
                        <img class="hamburguesa_contenido_imagen1_papas" src="\images\Hamburguesas inicio\papas medias1.png"
                            alt="HamburguesaBacon" />
                    </div>
                    <div class="hamburguesas_contenido_hijo_papas">
                        <h2 class="hamburguesas_contenido_texto_titulo_papas">
                            Pápas Primavera Roja
                        </h2>
                        <p class="hamburguesas_contenido_texto_parrafo1_papas">
                            Papas crocantes con 60g de cheddar, bacon y rúcula (200g).
                        </p>
                        <p class="hamburguesas_contenido_texto_parrafo2_papas">$ 2.500,00</p>
                    </div>
                    <div class="hamburguesas_contenido_texto_papas_papas">
                        <p style="margin-bottom: 0px;"><br><br>¿Va mejorando?</p>
                    </div>
                </div>
            </label>
        </div>

        <div class="lab3el1_papas">
            <label for="boton-abrir-modal-papas">
                <div class="hamburguesa_contenido_submaster_papas">
                    <div class="hamburguesa_contenido_imagen_papas">
                        <img class="hamburguesa_contenido_imagen1_papas" src="\images\Hamburguesas inicio\papas extremas1.png"
                            alt="HamburguesaBacon" />
                    </div>
                    <div class="hamburguesas_contenido_hijo_papas">
                        <h2 class="hamburguesas_contenido_texto_titulo_papas">
                            Pápas Mil Sueños
                        </h2>
                        <p class="hamburguesas_contenido_texto_parrafo1_papas">
                            Pápas crocantes con cebolla caramelizada, bácon, rúcula, salsa McFurt (300g) 
                        </p>
                        <p class="hamburguesas_contenido_texto_parrafo2_papas">$ 3.500,00</p>
                    </div>
                    <div class="hamburguesas_contenido_texto_papas_papas">
                        <p style="margin-bottom: 0px;"><br><br>!Ahora si!</p>
                    </div>
                </div>
            </label>
        </div>
    </div>
    </div>
</div>

<!-- FINAL PAGINA4 --><!-- FINAL PAGINA4 --><!-- FINAL PAGINA4 --><!-- FINAL PAGINA4 --><!-- FINAL PAGINA4 --><!-- FINAL PAGINA4 --><!-- FINAL PAGINA4 --><!-- FINAL PAGINA4 -->